{% extends "layout.html.twig" %}

{% block title %}
{% if article is defined%}
    {{ article.title }}
{% else %}
    Erreur :(
{% endif %}
{% endblock %}

{% block content %}
<p>
    <div class="well">
        <h1>Désolé,</h1>
        <h3>mais cette fonctionnalité n'est pas encore prête.</h3>
    </div>
</p>
{% endblock %}