{% extends "layout.html.twig" %}


{% block title %}Home{% endblock %}


{% block content %}
<h1 class="categories-title">Catégories :</h1>
{% for categorie in categories %}
<a class="catTitle" href="{{ path('categorie', { 'id': categorie.id }) }}">
	<div class ='row categorie'>
		<div class='col-md-2 col-sm-4 col-xs-12'>
		    <img src="/img/{{ categorie.getImage() }}" class="img-rounded img-responsive">
		</div>
		<div class='col-md-10 col-sm-8 col-xs-12'>
			<h2>{{ categorie.title }}</h2>
		</div>
	</div>
</a>
{% endfor %}
<div class ='row'>
<h3>Vous cherchez un article en particulier? faîtes une recherche ! </h3>
</div>

{% endblock %}