body { 
    padding-top: 50px; 
}


.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.categorie{
	border-bottom: 1px solid #ddd;
	padding-top: 10px;
	min-height:200px;
}

a .categorie{
	color:#555;
}

.categorie:hover{
	border: 1px solid rgb(86, 180, 239);
 	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
 	background:#EFEFEF;
 }
.categorie img{
	min-height: 150px;
    min-width: 150px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.categories-title{
	color: #555;
}

.article{
    margin: 10px;
}

.article img{
    visibility: hidden;
}

.article a{
    text-decoration: none;
    color:#555;
}

.article .price{
    font-weight: bold;
}

.article .box{
    border: 1px solid silver;
    padding: 10px;
    margin-bottom: 10px;
}
.article .box:hover{
	border: 1px solid rgb(86, 180, 239);
 	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
 	background:#EFEFEF;
    font-size: 1.05em;
}

.article-img img{
    border: 1px solid rgb(86, 180, 239);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

#search_link:hover{
    text-decoration:none;
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}


#notifications{
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 9999;
    bottom: 0px;
    margin-bottom: 22px;
    margin-right: 15px;
    max-width: 300px;   
}